@layer base {
  :root,
  .light {
    /* Surface (background) */
    --ui-color-surface: var(--token-white);
    --ui-color-surface-50: var(--token-gray-50);
    --ui-color-surface-100: var(--token-gray-100);
    --ui-color-surface-200: var(--token-gray-200);
    --ui-color-surface-300: var(--token-gray-300);

    /* Body (foreground) */
    --ui-color-body: var(--token-gray-600);
    --ui-color-body-muted: var(--token-gray-400);
    --ui-color-body-rich: var(--token-gray-900);
    --ui-color-body-invert: var(--token-white);

    /* Brand colors */
    --ui-color-primary: var(--token-primary-600);
    --ui-color-primary-hover: var(--token-primary-500);
    --ui-color-primary-content: var(--token-primary-50);
    --ui-color-primary-subtle: var(--token-primary-300);
    --ui-color-primary-subtle-content: var(--token-primary-800);

    --ui-color-secondary: var(--token-secondary-600);
    --ui-color-secondary-hover: var(--token-secondary-500);
    --ui-color-secondary-content: var(--token-secondary-50);
    --ui-color-secondary-subtle: var(--token-secondary-300);
    --ui-color-secondary-subtle-content: var(--token-secondary-800);

    /* Status colors */
    --ui-color-success: var(--token-success-600);
    --ui-color-success-hover: var(--token-success-500);
    --ui-color-success-content: var(--token-success-50);
    --ui-color-success-subtle: var(--token-success-300);
    --ui-color-success-subtle-content: var(--token-success-800);

    --ui-color-warning: var(--token-warning-600);
    --ui-color-warning-hover: var(--token-warning-500);
    --ui-color-warning-content: var(--token-warning-50);
    --ui-color-warning-subtle: var(--token-warning-300);
    --ui-color-warning-subtle-content: var(--token-warning-800);

    --ui-color-error: var(--token-error-600);
    --ui-color-error-hover: var(--token-error-500);
    --ui-color-error-content: var(--token-error-50);
    --ui-color-error-subtle: var(--token-error-300);
    --ui-color-error-subtle-content: var(--token-error-800);

    --ui-color-neutral: var(--token-gray-900);
    --ui-color-neutral-hover: var(--token-gray-600);
    --ui-color-neutral-content: var(--token-gray-50);
    --ui-color-neutral-subtle: var(--token-gray-400);
    --ui-color-neutral-subtle-content: var(--token-gray-900);
  }

  .dark {
    /* Surface (background) */
    --ui-color-surface: var(--token-gray-950);
    --ui-color-surface-50: var(--token-gray-900);
    --ui-color-surface-100: var(--token-gray-800);
    --ui-color-surface-200: var(--token-gray-700);
    --ui-color-surface-300: var(--token-gray-600);

    /* Body (foreground) */
    --ui-color-body: var(--token-gray-300);
    --ui-color-body-muted: var(--token-gray-600);
    --ui-color-body-rich: var(--token-gray-50);
    --ui-color-body-invert: var(--token-gray-900);

    /* Brand colors */
    --ui-color-primary: var(--token-primary-600);
    --ui-color-primary-hover: var(--token-primary-500);
    --ui-color-primary-content: var(--token-primary-50);
    --ui-color-primary-subtle: var(--token-primary-900);
    --ui-color-primary-subtle-content: var(--token-primary-300);

    --ui-color-secondary: var(--token-secondary-400);
    --ui-color-secondary-hover: var(--token-secondary-500);
    --ui-color-secondary-content: var(--token-secondary-950);
    --ui-color-secondary-subtle: var(--token-secondary-900);
    --ui-color-secondary-subtle-content: var(--token-secondary-300);

    /* Status colors */
    --ui-color-success: var(--token-success-400);
    --ui-color-success-hover: var(--token-success-500);
    --ui-color-success-content: var(--token-success-950);
    --ui-color-success-subtle: var(--token-success-900);
    --ui-color-success-subtle-content: var(--token-success-200);

    --ui-color-warning: var(--token-warning-400);
    --ui-color-warning-hover: var(--token-warning-500);
    --ui-color-warning-content: var(--token-warning-950);
    --ui-color-warning-subtle: var(--token-warning-900);
    --ui-color-warning-subtle-content: var(--token-warning-200);

    --ui-color-error: var(--token-error-400);
    --ui-color-error-hover: var(--token-error-500);
    --ui-color-error-content: var(--token-error-950);
    --ui-color-error-subtle: var(--token-error-900);
    --ui-color-error-subtle-content: var(--token-error-200);

    --ui-color-neutral: var(--token-gray-100);
    --ui-color-neutral-hover: var(--token-gray-400);
    --ui-color-neutral-content: var(--token-gray-900);
    --ui-color-neutral-subtle: var(--token-gray-600);
    --ui-color-neutral-subtle-content: var(--token-gray-100);
  }
}
